button {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 100px;
}

svg {
    cursor: pointer;
    margin-top: 10px;
}

textarea,
button {
    margin-top: 100px;

}

textarea {
    width: 90%;
    max-width: 600px;
}

#output {
    background-color: #000;
    color: #fff;
}

.full-screen {
    flex-direction: column;
}